<!DOCTYPE HTML>
<html>
<head>
    <title>體適能不NG</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
    <style>
        .button.primary {
            background-color: #9978cf;
        }
        .button.primary:hover {
            background-color: #5e08e8; /* 深紫色 */
        }
        #nav ul li:not(.login-button):hover {
            background-color: #9978cf !important; /* 深紫色 */
        }
        #nav ul li a {
            color: white !important; /* 將文字顏色設置為白色 */
        }
        .center-video {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body class="is-preload landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1>體適能不NG</h1>
            <nav id="nav">
                <ul>
                    <li><a href="{{ url_for('home') }}">首頁</a></li>
                    <li>
                        <a href="#">體適能標準</a>
                        <ul>
                            <li><a href="{{ url_for('situp_rule') }}">仰臥起坐</a></li>
                            <li><a href="{{ url_for('reversecrunch_rule') }}">仰臥捲腹</a></li>
                            <li><a href="{{ url_for('jump_rule') }}">立定跳遠</a></li>
                            <li><a href="{{ url_for('sit_rule') }}">坐姿體前彎</a></li>
                            <li><a href="{{ url_for('knees_rule') }}">原地抬膝</a></li>
                            <li><a href="{{ url_for('run_rule') }}">漸速折返跑</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('elements') }}">骨架動作分析</a></li>
                    <li><a href="{{ url_for('record') }}">歷史紀錄</a></li>
                    <li class="login-button"><a href="{{ url_for('signup') }}" class="button primary">登入</a></li>
                </ul>
            </nav>
        </header>

        <div class="center-video">
            <video id="preview" width="1080" height="600" autoplay muted></video>
        </div>

        <div class="left" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
            <div id="startButton" class="button">Start</div>
            <a id="stopButton" class="button">Stop</a>
            <a id="downloadButton" class="button">Download</a>
        </div>

        <h2>Recording</h2>
        <div class="video">
            <video id="recording" width="160" height="120" controls></video>
        </div>
    </div>

    <script>
        let preview = document.getElementById("preview");
        let recording = document.getElementById("recording");
        let startButton = document.getElementById("startButton");
        let stopButton = document.getElementById("stopButton");
        let downloadButton = document.getElementById("downloadButton");
        let dataChunks = [];
        let recorder;

        // 开始录制
        function startRecording(stream, lengthInMS) {
            recorder = new MediaRecorder(stream);

            recorder.ondataavailable = (event) => {
                let data = event.data;
                dataChunks.push(data);
            };
            recorder.start(1000);
            console.log(recorder.state + " start to recording .....");
        }

        stopButton.addEventListener("click", () => {
            // close the recording
            preview.srcObject.getTracks().forEach((track) => track.stop());
            recorder.stop();

            // Play recorded video
            let recordedBlob = new Blob(dataChunks, { type: "video/webm" });
            recording.src = URL.createObjectURL(recordedBlob);

            // Save download video， click the download button， you can download it
            downloadButton.href = recording.src;
            downloadButton.download = "RecordedVideo.webm";
        });

        startButton.addEventListener("click", () => {
            // get the stream
            navigator.mediaDevices
                .getUserMedia({
                    audio: true,
                    video: true,
                })
                .then((stream) => {
                    // set the stream to left video
                    preview.srcObject = stream;
                    // set the stream to <a> for download
                    downloadButton.href = stream;
                    // captureStream: which is streaming a real-time capture of the content being rendered in the media element. 
                    // A MediaStream object  which can be used as a source for audio or video data by other media
                    preview.captureStream =
                        preview.captureStream || preview.mozCaptureStream;
                    startRecording(preview.captureStream());
                })
                .catch((err) => {
                    console.log("recording error: ", err);
                });
        });
    </script>
</body>
</html>
