<!DOCTYPE HTML>
<html>
    <head>
        <title>體適能不NG</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
        <style>
            .button.primary {
                background-color: #9978cf;
            }
            .button.primary:hover {
                background-color: #5e08e8; /* 深紫色 */
            }
            /* 選單項目懸浮效果 */
            #nav ul li:not(.login-button):hover {
                background-color: #9978cf !important; /* 深紫色 */
            }
            /* 指定所有連結的文字顏色 */
            #nav ul li a {
                color: white !important; /* 將文字顏色設置為白色 */
            }
        </style>
    </head>
    <body class="is-preload landing">
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header">
                <h1>體適能不NG</h1>
                <nav id="nav">
                    <ul>
                        <li><a href="{{ url_for('home') }}">首頁</a></li>
                        <li>
                            <a href="#">體適能標準</a>
                            <ul>
                                <li><a href="{{ url_for('situp_rule') }}">仰臥起坐</a></li>
                                <li><a href="{{ url_for('reversecrunch_rule') }}">仰臥捲腹</a></li>
                                <li><a href="{{ url_for('jump_rule') }}">立定跳遠</a></li>
                                <li><a href="{{ url_for('sit_rule') }}">坐姿體前彎</a></li>
                                <li><a href="{{ url_for('knees_rule') }}">原地抬膝</a></li>
                                <li><a href="{{ url_for('run_rule') }}">漸速折返跑</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('elements') }}">骨架動作分析</a></li>
                        <li><a href="{{ url_for('record') }}">歷史紀錄</a></li>
                        <li class="login-button"><a href="{{ url_for('signup') }}" class="button primary">登入</a></li>
                    </ul>
                </nav>
            </header>
            <br><br><br><br><h1>測驗規則:</h1>
            <table>
                <tr>
                    <td>預備時，請受試者於墊上或地面仰 臥平躺，雙手胸前交叉，雙手掌輕 放肩上（肩窩附近），手肘得離開 胸部，雙膝屈曲約成九十度，足底 平貼地面</td>
                </tr>
                <tr>
                    <td>施測者以雙手按住受測者腳背，協 助穩定</td>
                </tr>
                <tr>
                    <td>測驗時，利用腹肌收縮使上身起坐， 雙肘觸及雙膝後（如左圖），而構 成一完整動作，之後隨即放鬆腹肌 仰臥回復預備動作</td>
                </tr>
                <tr>
                    <td>聞（預備）口令時保持(1)之姿勢，聞「開始」口令時盡 力在一分鐘內做起坐的動作，直到聽到「停」口令時動作 結束，以次數愈多者為愈佳。</td>
                </tr>
            </table>
            <!-- Scripts -->
            <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        </div>
    </body>
</html>
